<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sucesso 👌</title>
    <style>
        button {
            border-radius: 25px;
            width: 80px;
            height: 32px;
            box-shadow: 0px 2px 22px #5756566e;
            border-color:rgb(124, 124, 124);
        }
        span {
            background: rgb(123, 211, 130);
            box-shadow: 0px 2px 26px rgb(106, 233, 68);
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Sucesso mandei a mensagem meu rei <span>👌</span>!</h1>
    <form action="/contato" method="get">
        <button>Voltar</button>
    </form>
</body>
</html>